!!! html
%html{:lang => 'zh'}
  %head
    %meta{:charset => 'utf8'}
    %title 乐天信邦房产信息抓取
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', :content => ''}
    = bootstrap_assets
    = css("override.css")
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '/'} 乐天信邦
          .nav-collapse
            %ul.nav
              %li{:class => active_if_possible("/")}
                %a{:href => '/'} 抓取
              %li{:class => active_if_possible("/offices")}
                %a{:href => '/offices'} 房产信息
    .container.body
      = yield

