.tabbable.tabs-left
  %ul.nav.nav-tabs
    - @sites.each do |site|
      %li.active
        %a{"data-toggle" => "#tab1"}
          %h4= site.name

  .tab-content
    .tab-pane#tab1
      %p I'm in Section 1

    .tab-pane#tab2
      %p I'm in Section 1

    .tab-pane#tab3
      %p I'm in Section 1

    .tab-pane#tab4
      %p I'm in Section 1
