.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a AAA
    %li
      %a AAA
    %li
      %a AAA
    %li
      %a AAA
    %li
      %a AAA

  .tab-content
    .tab-pane.active#tab1
      %p I'm in Section 1

    .tab-pane#tab2
      %p I'm in Section 1

    .tab-pane#tab3
      %p I'm in Section 1

    .tab-pane#tab4
      %p I'm in Section 1
